<!-- InitTrad -->
<div class="Acheter">
    <div class="TextePresAcheter">
    <p>
    <!-- if:$_SESSION["lang"] == "en" -->
        <b>JLP IMMO</b> has selected a wide range of properties at the very best price on the market. We will also be more than happy to recommend and help you with your research of a financial establishments / banks as well as solicitors for all the legal and administrative matters.<br /><br />
    We are to help you make your dream come true.  <br />
	<p style="display:none;"><a href="http://www.jlp-immo.com/acheter/resultatSearchRapide" title="all our properties" style="display:none;" target="_self">All our properties</a></p>
    <!-- else -->
    <b>JLP IMMO</b> a sélectionné pour vous un large éventail d’affaires au meilleur prix du marché. Nous vous proposons également de vous accompagner  dans vos démarches auprès de nos établissements bancaires partenaires ainsi que pour toute autre formalité administrative et juridique. <br /><br />
    Nous allons vous aider à concrétiser vos rêves. <br /><br />
  	<b>Laissez-vous guider…</b>
    <p style="display:none;"><a href="http://www.jlp-immo.com/acheter/resultatSearchRapide" title="toute nos annonces" style="display:none;" target="_self">Toute nos annonces.</a></p>
	</p>
    <!-- end -->
    </div>
    <div class="BlocAcheter radius_full">
        <div class="FormAcheter">
            <form action="{=linkTo('%s', 'acheter/traitementresultats')}" id="formAcheter" method="post">
                <table>
					<tr>
						<td class="col"><!-- Start Col Left-->
							<table>
								<tr>
									<td colspan="2" class="subTitle">{@=(villePublique)}</td>
			
								</tr>
								<tr>
									<td colspan="2" class="large_field">
										<select name="localite">
											<option></option>
										<!-- foreach:$aLocalite value:$vLocalite -->
											<option>{=$vLocalite}</option>
										<!-- end -->
										</select>
									</td>
								</tr>
								<tr>
									<td colspan="2" class="subTitle">{@=(typeBien)}</td>
								</tr>
								<!-- foreach:$aTypeBien value:$vTypeBien -->
								<tr>
									<td class="field checkbox"><input type="checkbox" name="typeDeBien_{=$vTypeBien}" value="{=$vTypeBien}" id="typeDeBien_{=$vTypeBien}" /></td>
									<td class="label">{=ucfirst($oTrad->getTrad($vTypeBien))}</td>
								</tr>
								<!-- end -->
								<tr>
									<td colspan="2" class="subTitle">{@=(Budget)}</td>
								</tr>
								<tr>
									<td class="label">Minimum</td>
									<td class="field">
										<select name="montantMin">
											<option value="0">0 &euro;</option>
											<option value="100000">100000 &euro;</option>
											<option value="200000">200000 &euro;</option>
											<option value="300000">300000 &euro;</option>
											<option value="400000">400000 &euro;</option>
											<option value="500000">500000 &euro;</option>
											<option value="600000">600000 &euro;</option>
											<option value="700000">700000 &euro;</option>
										</select>
									</td>
								</tr>
								<tr>
									<td class="label">Maximum</td>
									<td class="field">
										<select name="montantMax">
											<option value="0"></option>
											<option value="100000">100000 &euro;</option>
											<option value="200000">200000 &euro;</option>
											<option value="300000">300000 &euro;</option>
											<option value="400000">400000 &euro;</option>
											<option value="500000">500000 &euro;</option>
											<option value="600000">600000 &euro;</option>
											<option value="700000">700000 &euro;</option>
										</select>
									</td>
								</tr>
							</table>
						</td><!-- End Col Left-->
						<td class="spacer">&nbsp;</td>
						<td class="col"><!-- Start Col Right-->
							<table>
								<tr>
									<td colspan="2" class="subTitle">{@=(Options)}</td>
								</tr>
								<tr>
									<td class="label">{@=(surface)}</td>
									<td class="field">
										<select name="surface" id="select_surface" disabled="disabled">
											<option value="" ></option>
											<option value="0-30">0 à 30 m&sup2;</option>
											<option value="30-75">30 à 75 m&sup2;</option>
											<option value="75-150">75 à 150 m&sup2;</option>
											<option value="150-200">150 à 200 m&sup2;</option>
											<option value="200-+">200 m&sup2; {@=(more)}</option>
										</select>
									</td>
								</tr>
								<tr>
									<td class="label">{@=(pieces)}</td>
									<td class="field">
										<select name="pieces" id="select_pieces" disabled="disabled">
											<option value=''></option>
										<!-- for:$i from:1 to:5 -->
											<option value="{=$i}">{=$i}</option>
										<!-- end -->
											<option value="5+">5 {@=(more)}</option>
										</select>
									</td>
								</tr>
								<tr>
									<td class="label">{@=(chambres)}</td>
									<td class="field">
										<select name="chambres" id="select_chambres" disabled="disabled">
											<option value=''></option>
										<!-- for:$i from:1 to:5 -->
											<option value="{=$i}">{=$i}</option>
										<!-- end -->
											<option value="5+">5 {@=(more)}</option>
										</select>
									</td>
								</tr>
								<tr>
									<td class="label">{@=(nbSallesDEau)}</td>
									<td class="field">
										<select name="nbSallesDEau" id="select_salledeau" disabled="disabled">
											<option value=''></option>
										<!-- for:$i from:1 to:5 -->
											<option value="{=$i}">{=$i}</option>
										<!-- end -->
											<option value="5+">5 {@=(more)}</option>
										</select>
									</td>
								</tr>
								<tr>
									<td class="label">{@=(surfaceTerrain)}</td>
									<td class="field">
										<select name="surfaceTerrain" id="select_surfaceterrain" disabled="disabled">
											<option value="" ></option>
											<option value="0-500">0 à 500 m&sup2;</option>
											<option value="500-1000">500 à 1000 m&sup2;</option>
											<option value="1000-1500">1000 à 1500 m&sup2;</option>
											<option value="1500-2000">1500 à 2000 m&sup2;</option>
											<option value="2000-+">2000 m&sup2; {@=(more)}</option>
										</select>
									</td>
								</tr>
								<tr>
									<td class="label">{@=(exposition)}</td>
									<td class="field">
										<select name="exposition" id="select_exposition" disabled="disabled" >
											<option value=''></option>
											<option value='N'>{@=(nord)}</option>
											<option value='NE'>{@=(nordest)}</option>
											<option value='E'>{@=(est)}</option>
											<option value='SE'>{@=(sudest)}</option>
											<option value='S'>{@=(sud)}</option>
											<option value='SW'>{@=(sudouest)}</option>
											<option value='W'>{@=(ouest)}</option>
											<option value='NW'>{@=(nordouest)}</option> 
										</select>
									</td>
								</tr>
								<tr>
									<td class="label">{@=(nbGarages)}</td>
									<td class="field">
										<select name="nbGarages" id="select_nbgarages" disabled="disabled" >
											<option value=''></option>
										<!-- for:$i from:1 to:5 -->
											<option value="{=$i}">{=$i}</option>
										<!-- end -->
											<option value="5+">5 {@=(more)}</option>
										</select>
									</td>
								</tr>
								<tr>
									<td colspan="2" class="large_field submit"><input type="submit" value="{@=(SubmitAcheter)}" /></td>
								</tr>
							</table>
						</td><!-- End Col Right-->
					</tr>
				</table>
            </form>
        </div>
    </div>
</div>