<div class="bloc" style="margin-top:0px;">
	<div class="title">Formulaire de modification des options du site</div>
	<div class="content">
	<?php if(isset($this->aVars[$this->sRequestPage][1]['sMessage']) && isset($this->aVars[$this->sRequestPage][1]['sStatus'])): ?>
	<div class="notif <?php echo $this->aVars[$this->sRequestPage][1]['sStatus']; ?>">
		<strong><?php echo ucfirst($this->aVars[$this->sRequestPage][1]['sStatus']); ?> :</strong> <?php echo $this->aVars[$this->sRequestPage][1]['sMessage']; ?> 
	</div>
	<?php endif; ?>
	<form action="<?php echo HTML_ROOT_PATH; ?>site/edit_site" name="edit_site" method="post">
		<div class="input textarea">
			<label for="site_desc">Description</label>
			<textarea name="site_desc" rows="5" cols="1"><?php echo $this->aVars[$this->sRequestPage]['aSite']['site_desc']; ?></textarea>
		</div>
		<div class="input textarea">
			<label for="site_cle">Mots-clés (séparés par , )</label>
			<textarea name="site_cle" rows="5" cols="1"><?php echo $this->aVars[$this->sRequestPage]['aSite']['site_cle']; ?></textarea>
		</div>
		<div class="submit">
			<input type="submit" />
		</div>
	</form>
	</div>
</div>

<div class="bloc">
	<div class="title">Formulaire de mise à jours de l'actualité</div>
	<div class="content">
	<?php if(isset($this->aVars[$this->sRequestPage][2]['sMessage']) && isset($this->aVars[$this->sRequestPage][2]['sStatus'])): ?>
	<div class="notif <?php echo $this->aVars[$this->sRequestPage][2]['sStatus']; ?>">
		<strong><?php echo ucfirst($this->aVars[$this->sRequestPage][2]['sStatus']); ?> :</strong> <?php echo $this->aVars[$this->sRequestPage][2]['sMessage']; ?> 
	</div>
	<?php endif; ?>
	<form action="<?php echo HTML_ROOT_PATH; ?>site/edit_actu" name="edit_actu" method="post">
		<div class="input textarea">
			<label for="actu_texte_fr">Texte d'actualité FR</label>
			<textarea name="actu_texte_fr" rows="7" class="wysiwyg" cols="4"><?php echo $this->aVars[$this->sRequestPage]['aSite']['actu_texte_fr']; ?></textarea>
		</div>
		<div class="input textarea">
			<label for="actu_texte_en">Texte d'actualité EN</label>
			<textarea name="actu_texte_en" rows="7" class="wysiwyg" cols="4"><?php echo $this->aVars[$this->sRequestPage]['aSite']['actu_texte_en']; ?></textarea>
		</div>
		<div class="submit">
			<input type="submit" />
		</div>
	</form>
	</div>
</div>
