/oldSite/*
site_jlp.sql

/nbproject/private/
/web/bundles/
/app/bootstrap.php.cache
/app/cache/*
/app/config/parameters.yml
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
/app/phpunit.xml
/build/
/vendor/
/bin/
/src/JLP/CoreBundle/Ressources/public/images/source/*
/src/JLP/CoreBundle/Ressources/public/images/upload/connectimmo/*

