/src/JLP/CoreBundle/Resources/public/images/hd/*
/src/JLP/CoreBundle/Resources/public/images/source/*
/src/JLP/CoreBundle/Resources/public/images/sd/*
/src/JLP/CoreBundle/Resources/public/images/thumb/*
/src/JLP/CoreBundle/Resources/public/images/coeur/*
/web/bundles/
/app/bootstrap.php.cache
/app/cache/*
/app/config/parameters.yml
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
/app/phpunit.xml
/build/
/vendor/
/bin/
/src/JLP/CoreBundle/Resources/public/upload/StockZip/*
/src/JLP/CoreBundle/Resources/public/upload/connectimmo/annonces.xml
.idea
