/oldSite/img/*
/oldSite/front/cache/*
/oldSite/front/web/css/*
/oldSite/front/web/flash/*
/oldSite/front/web/font/*
/oldSite/front/web/images/*
/oldSite/front/web/js/*
/oldSite/front/web/import/*.txt
/oldSite/connectimmo/*
/oldSite/front/web/import/annonces/*.jpg

/nbproject/private/
/web/bundles/
/app/bootstrap.php.cache
/app/cache/*
/app/config/parameters.yml
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
/app/phpunit.xml
/build/
/vendor/
/bin/
/composer.phar
