#Addtype x-mapp-php5 .php
Options +FollowSymlinks
RewriteEngine on
RewriteBase /

#RewriteRule bddAdmin.php bddAdmin.php [L]

#RewriteRule ^([A-Za-z_-]*)\.html$	index.php?page=$1 [L]

#RewriteRule ^page/([A-Za-z_]*)\.html$	index.php?page=site&menu=$1 [L]
#RewriteRule ^page/([A-Za-z_]*)/([A-Za-z_]*)\.html$	index.php?page=site&menu=$1&cat=$2 [L]
#RewriteRule ^page/([A-Za-z_]*)/([A-Za-z_]*)/([A-Za-z_]*)\.html$	index.php?page=site&menu=$1&cat=$2&galerie=$3 [L]

RewriteRule .*\.php.*$ index.php [L]
RewriteRule ^([^.]*)$ index.php [L]