<div class="PrgNeufBloc">
<div class="PrgNeufHeader">
<ul>
	<li></li>
</ul>
</div>
<div class="PrgNeufAnnonces" id="ListeAnnonce">
<!-- foreach:$listeAnnonce key:$klisteAnnonce value:$vlisteAnnonce -->
    <ul class="BlocAnnoncePrgNeuf" style="background-image:url({=HTML_ROOT_PATH}web/images/bg_annonce.png);" onclick="window.location.href='{=HTML_ROOT_PATH}annonce/{=$vlisteAnnonce->getannonce(0)->getannonce_id()}'">    	
        <li class="Thumb">
        	<img src="{=HTML_ROOT_PATH}web/images/annonces/{=$vlisteAnnonce->getannonce(0)->getphotoThumb()}" style="border:0px;" alt="ThumbNail"/>
			<!--<img src="{=HTML_ROOT_PATH}web/import/annonces/{=$aListePlan[$vlisteAnnonce->getannonce(0)->getannonce_id()]}" style="border:0px;" alt="ThumbNail"/>-->
        </li>
        <li class="Content">
            <p class="Line">
                <span>
                	{=ucfirst($vlisteAnnonce->getannonce(0)->gettypeBien())} {=ucfirst($vlisteAnnonce->getannonce(0)->getvilleAAfficher())}
            	</span>
                <!-- if:round($vlisteAnnonce->getannonce(0)->getmontant())== $vlisteAnnonce->getannonce(0)->getmontant()-->
                {=number_format($vlisteAnnonce->getannonce(0)->getmontant(),0,","," ")} &euro;
                <!-- else-->
                {=number_format($vlisteAnnonce->getannonce(0)->getmontant(),2,","," ")} &euro;
                <!-- end -->
            </p>
            <br />
            <p class="Bloc">
				<!-- if: $_SESSION['lang']== 'en' -->
				{=substr($vlisteAnnonce->getannonce(0)->getTextAnglais(),0,230)}  ...</p><br />
				<!-- else -->
				{=substr($vlisteAnnonce->getannonce(0)->getTexte(),0,230)}  ...</p><br />
				<!-- end -->
            <p class="Line">
            	Ref : {=$vlisteAnnonce->getannonce(0)->getreference()}
            </p>
        </li>
    </ul>
<!-- end -->
</div>
</div>