<div class="Accueil">
	<!-- if: $_SESSION['lang']== 'fr' -->
	<table>
		<tr>
			<td id="presentation">
				<p style="font-size:1.4em;">JLP IMMO le spécialiste de l 'immobilier de Montagne :</p>
				<br>
				<br>
				<p>Une agence professionnelle et expérimentée à votre écoute, à même de vous conseiller et vous accompagner dans votre projet immobilier grâce à une parfaite connaissance du marché local.</p><br>
				<p>Jean-Louis Perroud et son équipe ont sélectionné pour vous un large éventail de plus de 200 biens sur les communes du pays du Mont-Blanc (Saint-Gervais, Le Fayet, Passy, Sallanches, Cluses):</p><br>
				<ul>
				<li>Programmes neufs</li>
				<li>Rénovation</li>
				<li>Appartements en revente du studio au T5</li>
				<li>Fermes et chalets</li>
				<li>Maisons de village</li>
				<li>Terrain</li>
				<li>Biens d'exception</li>
				</ul><br><br>
				<p style="text-align:center;font-size:1.1em;">
					<span style="font-size:1.2em;font-weight:bold;">Nous vous accueillons en nos bureaux</span><br><br>
					Du lundi au vendredi : 9h 12h 14h 18h30<br>
					Le Samedi : 9h00 12h00 14h00 16h30<br><br>
					Rue de la Poste LE FAYET <br>74170 Saint-Gervais-les-bains<br>
					<span style="font-size:1.2em;">04.50.78.27.44</span>
				</p><br><br>
			</td>
			<td id="actualite">
				<!-- foreach:$actuTxt value:$vActuTxt -->
					<!-- if:$vActuTxt->getsite_valeur()!='<p><br></p>' -->
						<div class="radius_full">{=$vActuTxt->getsite_valeur()}</div>
					<!-- end -->
				<!-- end -->
			</td>
		</tr>
		<tr>
			<td colspan="2"  id="coordonne">
				<p style="text-align:center;font-size:1.2em;">
					Que vous soyez, vendeur, acheteur ou professionnel de l'immobilier,<br>
					Poussez la porte de JLP immo
				</p>
				<br>
				<p style="text-align:center;font-size:1.2em;">VOTRE PROJET C'EST AUSSI LE N&Ocirc;TRE</p><br>
				<p><span style="text-align:left;"><a href="https://plus.google.com/101422763701011910252" rel="publisher">Retrouvez-nous sur Google+</a>
				<!--<span style="float:right;">Crédit photo arrière plan <a href="http://www.flickr.com/photos/gerald-mattel-photography/" target="_blank">Gerald Mattel</a></span> </p>-->
			</td>
		</tr>
	</table>
	<!-- else -->
	<table>
		<tr>
			<td id="presentation">
				<p style="font-size:1.4em;">JLP IMMO, the specialist in property in the mountains :</p>
				<br>
				<br>
				<p>An experienced, professional estate agent with an excellent understanding of the local market, at your service to advise and accompany you in your property project.</p><br>
				<p>Jean-Louis Perroud and his team have selected a large range of more than 200 properties in the communes of the 'Pays du Mont-Blanc' (St Gervais, Le Fayet, Passy, Sallanches, Cluses):</p><br>
				<ul>
				<li>New developments</li>
				<li>Renovations</li>
				<li>Appartments from studios to 4 bedroom</li>
				<li>Farms and Chalets</li>
				<li>Town houses</li>
				<li>Land</li>
				<li>Exceptional properties</li>
				</ul><br><br>
				<p style="text-align:center;font-size:1.1em;">
					<span style="font-size:1.2em;font-weight:bold;">We welcome you into our office</span><br><br>
					From Monday to Friday: 9hrs -12hrs, 14hrs-18.30hrs<br>
					Saturdays: 9hrs -12hrs, 14hrs-16.30hrs<br><br>
					66 rue de la Poste LE FAYET <br>74170 Saint-Gervais-les-bains
					<span style="font-size:1.2em;">04.50.78.27.44</span>
				</p><br><br>
			</td>
			<td id="actualite">
				<!-- foreach:$actuTxt value:$vActuTxt -->
					<!-- if:$vActuTxt->getsite_valeur()!='<p><br></p>' -->
						<div class="radius_full">{=$vActuTxt->getsite_valeur()}</div>
					<!-- end -->
				<!-- end -->
			</td>
		</tr>
		<tr>
			<td colspan="2"  id="coordonne">
				<p style="text-align:center;font-size:1.2em;">
					Whether you are a vendor, buyer or property professional, <br>
					Come and see us at JLP Immo
				</p>
				<br>
				<p style="text-align:center;font-size:1.2em;">YOUR PROJECT IS ALSO OUR PROJECT</p><br>
			</td>
		</tr>
	</table>
	<!-- end -->
</div>
