{% extends 'Admin/admin.html.twig' %}

{% block section_header %}
    <section class="content-header">
        <h1>
            Parametrages
            <small>Page d'accueil</small>
        </h1>
    </section>
{% endblock section_header %}

{% block admin_content %}

{% endblock admin_content %}
