				<td valign="top" align="right">
					<label for="{=$ID}">{=$LABEL}</label>
				</td>
				<td valign="top" align="left">
					<div style="float:left;">
						<select {=$OBJ->getParams1()}><!-- foreach:$OBJ->getFirst()->getOptions() value:$oOpt -->
<!-- call:$oOpt->display() --><!-- end -->
						</select>
					</div>
					
					<div style="float:left;margin-top:20px;">
						<input type="button" value=">>" onclick="passLeft('form{=$OBJ->getForm()->getID()}_input{=$OBJ->getID()}_1', 'form{=$OBJ->getForm()->getID()}_input{=$OBJ->getID()}_2');" /><br />
						<input type="button" value="<<" onclick="passLeft('form{=$OBJ->getForm()->getID()}_input{=$OBJ->getID()}_2', 'form{=$OBJ->getForm()->getID()}_input{=$OBJ->getID()}_1');" />
					</div>
					
					<div style="float:left;">
						<select {=$OBJ->getParams2()}><!-- foreach:$OBJ->getSecond()->getOptions() value:$oOpt -->
<!-- call:$oOpt->display() --><!-- end -->
						</select>
					</div>
				</td>
