$font-stack:    Helvetica, sans-serif;
$primary-color: #333;
$navbar-height: 100px;

body {
  font: 100% $font-stack;
  color: $primary-color;
}

.navbar {
  img {
    height:$navbar-height;
  }
  a {
    font-size: 2em;
  }
  min-height: $navbar-height!important;
}