{% block footer %}
    <!--=== Footer Version 6 ===-->
    <div class="footer-v6">
        <div class="footer">
            <div class="container">

            </div>
        </div><!--/footer-->

        <div class="copyright">
            <div class="container">

            </div>
        </div><!--/copyright-->
    </div>
    <!--=== End Footer Version 6 ===-->
{% endblock %}
