<!-- InitTrad -->
<div class="Contact">
	<div class="photo_contact">
		<a id="lbgallery">{@=(agence_images)}</a>
	</div>
	<table class="organigramme">
		<tr>
			<td><b>Jean-Lou PERROUD</b></td>
			<td><b>{@=(DirGen)}</b></td>
			<td><b><a href="mailto:jl.perroud@jlp-immo.com">jl.perroud@jlp-immo.com</a></b></td>
		</tr>
		<tr>
			<td>Francine PERROUD</td>
			<td>{@=(GestAdmin)}</td>
			<td><a href="mailto:francine.perroud@jlp-immo.com">contact@jlp-immo.com</a></td>
		</tr>
		<tr>
			<td>Alex PERROUD</td>
			<td>{@=(RespInfo)}</td>
			<td><a href="mailto:alex.perroud@jlp-immo.com">alex.perroud@jlp-immo.com</a></td>
		</tr>
		<tr>
			<td>Sylvie CARDET</td>
			<td>{@=(Nego)}</td>
			<td><a href="mailto:sylvie.cardet@jlp-immo.com">sylvie.cardet@jlp-immo.com</a></td>
		</tr>
	</table>
	<form name="contact_form" action="{=linkTo('%s', 'contact/contact')}" method="post" class="contact_form">
		<input type="text" name="contact_sujet"  style="display:none;" value=""/>
		<h2 class="contact_title">{@=(title_form)}</h2>
		<table>
			<tr>
				<td>
					<span class="label">{@=(label_nom)}</span><br />
				<!-- if:$_SESSION['contact_resultat'] !='' && $_SESSION['contact_pb'] == false  -->
					<input type="text" name="contact_nom" disabled="disabled" value=""/> 
				<!-- else-->
					<input type="text" name="contact_nom" id="Contact_FieldNom" value=""/><!--<img id="e1" src="../web/images/pix.gif" width="19px" height="19px" alt="pix"/>-->
				<!-- end -->
				</td>
				
				<td>
					<span class="label">{@=(label_email)}</span><br />
				<!-- if:$_SESSION['contact_resultat'] !='' && $_SESSION['contact_pb'] == false  -->
					<input type="text" name="contact_mail" disabled="disabled" value=""/>
				<!-- else-->
					<input type="text" name="contact_mail" id="Contact_FieldMail" value=""/><!--<img id="e2" src="../web/images/pix.gif" width="19px" height="19px" alt="pix"/>-->
				<!-- end -->
				</td>
			</tr>
			<tr>
				<td colspan="2">
					<span class="label">{@=(label_message)}</span><br />
				<!-- if:$_SESSION['contact_resultat'] !='' && $_SESSION['contact_pb'] == false -->
					<textarea cols="100" rows="8" name="contact_message" disabled="disabled"></textarea>
				<!-- else-->
					<textarea cols="100" rows="8" name="contact_message"></textarea>
				<!-- end -->
				</td>
			</tr>
			<tr>
				<td colspan="2">
				<!-- if:$_SESSION['contact_resultat'] !='' && $_SESSION['contact_pb'] == false  -->
					{=$_SESSION['contact_resultat']}
				<!-- else-->
					<input type="submit" value="{@=(send_mess)}"/>
				<!-- end -->
					<!-- if:$_SESSION['contact_resultat'] !='' && $_SESSION['contact_pb'] == true  -->
					<br />{=$_SESSION['contact_resultat']}
					<!-- end -->
				</td>
			</tr>
		</table>
	</form>
	<div class="geoloc">
		<div id="gmap"></div>
		<div id="coord">
			<ul>
				<li>&nbsp;</li>
				<li>&nbsp;</li>
				<li>&nbsp;</li>
				<li><img src="<?php echo HTML_ROOT_PATH;?>web/images/logo-contact.png" /></li>
				<li>&nbsp;</li>
				<li><strong>{@=(agenceimmo)}</strong></li>
				<li><strong>Saint-Gervais / Le Fayet</strong></li>
				<li><strong>Passy / Sallanches</strong></li>
				<li>&nbsp;</li>
				<li>66, rue de la Poste</li>
				<li>Le Fayet 74170</li>
				<li>Saint-Gervais-les-bains</li>
				<li>&nbsp;</li>
				<li>{@=(tel)} : 04 50 78 27 44</li>
				<li>{@=(fax)} : 04 50 78 04 84</li>
			</ul>
		</div>
	</div>
	<h2 class="contact_title">{@=(partenaire)}</h2>
	<table class="contact_partenaires">
		<tr>
			<td><a href="http://www.st-gervais.net/fr/index.asp" target="_blank">{=imageTo('contact/saintgervais.png')}</a><br><a href="http://www.st-gervais.net/fr/index.asp" target="_blank">{@=(officetourisme)}</a></td>
			<td></td>
			<td><a href="http://www.thermes-saint-gervais.com/" target="_blank">{=imageTo('contact/thermes.png')}</a><br><a href="http://www.thermes-saint-gervais.com/" target="_blank">{@=(therme)}</a></td>
		</tr>
		<tr>
			<td><a href="http://www.cpk-web.com" target="_blank">{=imageTo('contact/logocpk.png',array('width'=>'150'))}</a><br><a href="http://www.cpk-web.com" target="_blank">{@=(cpkweb)}</a></td>
			<td></td>
			<td><a href="http://www.nicodeco.com/" target="_blank">{=imageTo('contact/nicodeco.png')}</a><br><a href="http://www.nicodeco.com/" target="_blank">{@=(nicodeco)}</a></td>
		</tr>
	</table>
</div>