<img src="{=HTML_ROOT_PATH}graphs/DPE/24/}" />
<img src="{=HTML_ROOT_PATH}graphs/DPE/60/}" />
<img src="{=HTML_ROOT_PATH}graphs/DPE/100/}" />
<img src="{=HTML_ROOT_PATH}graphs/DPE/200/}" />
<img src="{=HTML_ROOT_PATH}graphs/DPE/300/}" />
<img src="{=HTML_ROOT_PATH}graphs/DPE/400/}" />
<img src="{=HTML_ROOT_PATH}graphs/DPE/500/}" />
<img src="{=HTML_ROOT_PATH}graphs/DPE/600/}" />
<img src="{=HTML_ROOT_PATH}graphs/DPE/800/}" />
<img src="{=HTML_ROOT_PATH}graphs/GES/2/}" />
<img src="{=HTML_ROOT_PATH}graphs/GES/7/}" />
<img src="{=HTML_ROOT_PATH}graphs/GES/15/}" />
<img src="{=HTML_ROOT_PATH}graphs/GES/22/}" />
<img src="{=HTML_ROOT_PATH}graphs/GES/38/}" />
<img src="{=HTML_ROOT_PATH}graphs/GES/60/}" />
<img src="{=HTML_ROOT_PATH}graphs/GES/88/}" />
<img src="{=HTML_ROOT_PATH}graphs/GES/120/}" />
<img src="{=HTML_ROOT_PATH}graphs/GES/150/}" />