<!DOCTYPE html>
<html>
    <head>
        <title><?php echo $this->aVars['PageTitle']; ?></title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <!-- Main stylesheed  (EDIT THIS ONE) -->
        <link rel="stylesheet" href="<?php echo HTML_ROOT_PATH; ?>css/style.css" />
        
        <!-- jQuery AND jQueryUI -->
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.6/jquery.min.js"></script>
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.13/jquery-ui.min.js"></script>
        
        <!-- jQuery Cookie - https://github.com/carhartl/jquery-cookie -->
        <script type="text/javascript" src="<?php echo HTML_ROOT_PATH; ?>js/cookie/jquery.cookie.js"></script>
        
        <!-- jWysiwyg - https://github.com/akzhan/jwysiwyg/ -->
        <link rel="stylesheet" href="<?php echo HTML_ROOT_PATH; ?>js/jwysiwyg/jquery.wysiwyg.old-school.css" />
		<link rel="stylesheet" href="<?php echo HTML_ROOT_PATH; ?>js/jwysiwyg/jquery.wysiwyg.modal.css" />
        <script type="text/javascript" src="<?php echo HTML_ROOT_PATH; ?>js/jwysiwyg/jquery.wysiwyg.js"></script>
		<script type="text/javascript" src="<?php echo HTML_ROOT_PATH; ?>js/jwysiwyg/plugins/wysiwyg.fileManager.js"></script>
		<script type="text/javascript" src="<?php echo HTML_ROOT_PATH; ?>js/jwysiwyg/plugins/wysiwyg.rmFormat.js"></script>
		<script type="text/javascript" src="<?php echo HTML_ROOT_PATH; ?>js/jwysiwyg/controls/wysiwyg.image.js"></script>
		<script type="text/javascript" src="<?php echo HTML_ROOT_PATH; ?>js/jwysiwyg/controls/wysiwyg.link.js"></script>
		<script type="text/javascript" src="<?php echo HTML_ROOT_PATH; ?>js/jwysiwyg/controls/wysiwyg.colorpicker.js"></script>
		<script type="text/javascript" src="<?php echo HTML_ROOT_PATH; ?>js/jwysiwyg/controls/wysiwyg.cssWrap.js"></script>
        
        <!-- Tooltipsy - http://tooltipsy.com/ -->
        <script type="text/javascript" src="<?php echo HTML_ROOT_PATH; ?>js/tooltipsy.min.js"></script>
        
        <!-- iPhone checkboxes - http://awardwinningfjords.com/2009/06/16/iphone-style-checkboxes.html -->
        <script type="text/javascript" src="<?php echo HTML_ROOT_PATH; ?>js/iphone-style-checkboxes.js"></script>
        <script type="text/javascript" src="<?php echo HTML_ROOT_PATH; ?>js/excanvas.js"></script>
        
        <!-- Load zoombox (lightbox effect) - http://www.grafikart.fr/zoombox -->
        <script type="text/javascript" src="<?php echo HTML_ROOT_PATH; ?>js/zoombox/zoombox.js"></script>
        
        <!-- Charts - http://www.filamentgroup.com/lab/update_to_jquery_visualize_accessible_charts_with_html5_from_designing_with/ -->
        <script type="text/javascript" src="<?php echo HTML_ROOT_PATH; ?>js/visualize.jQuery.js"></script>
        
        <!-- Uniform - http://uniformjs.com/ -->
        <script type="text/javascript" src="<?php echo HTML_ROOT_PATH; ?>js/jquery.uniform.js"></script>
        		
		<script type="text/javascript" src="<?php echo HTML_ROOT_PATH; ?>js/jquery.jeditable.js"></script>
		
		<!-- Script d'upload multiple de fichier - http://www.fyneworks.com/jquery/multiple-file-upload/ -->
		<script type="text/javascript" src="<?php echo HTML_ROOT_PATH; ?>js/jquery.MultiFile.pack.js"></script>
		
		<script type="text/javascript" src="https://www.google.com/jsapi"></script>
		<!-- Main Javascript that do the magic part (EDIT THIS ONE) -->
        <script type="text/javascript" src="<?php echo HTML_ROOT_PATH; ?>js/main.js"></script>

    </head>
    <body class="dark">       
        <!--              
                HEAD
                        --> 
        <div id="head">
            <div class="left">
                <a href="" class="button profile"><img src="<?php echo HTML_ROOT_PATH; ?>img/icons/top/huser.png" alt="" /></a>
                Bonjour, <?php echo $_SESSION['userName']; ?>
                |
                <a href="<?php echo HTML_ROOT_PATH; ?>acces/logout/">Logout</a>
            </div>
        </div>
                 
                
        <!--            
                SIDEBAR
                         --> 
        <div id="sidebar">
            <ul>
                <li class="<?php if($this->aVars['sActivePage']=='dashboard') echo 'current'; ?> nosubmenu">
                    <a href="<?php echo HTML_ROOT_PATH; ?>" title="Dashboard">
                        <img src="<?php echo HTML_ROOT_PATH; ?>img/icons/menu/inbox.png" alt="" />
                        Dashboard
                    </a>
                </li>
                <li class="<?php if($this->aVars['sActivePage']=='site') echo 'current'; ?> nosubmenu"><a href="<?php echo HTML_ROOT_PATH; ?>site/" title="Configuration du site"><img src="<?php echo HTML_ROOT_PATH; ?>img/icons/menu/medias.png" alt="" />Configuration du site</a></li>
				<li class="<?php if($this->aVars['sActivePage']=='prog_neuf') echo 'current'; ?> nosubmenu"><a href="<?php echo HTML_ROOT_PATH; ?>prog_neuf/" title="Programmes neufs"><img src="<?php echo HTML_ROOT_PATH; ?>img/icons/menu/slideshow.png" alt="" />Programmes neufs</a></li>
                <li class="<?php if($this->aVars['sActivePage']=='passerelle') echo 'current'; ?> nosubmenu"><a href="<?php echo HTML_ROOT_PATH; ?>infospasserelle/" title="Gestion de la passerelle"><img src="<?php echo HTML_ROOT_PATH; ?>img/icons/menu/contacts.png" alt="" />Gestion de la passerelle</a></li>
            </ul>
 <a href="#collapse" id="menucollapse">&#9664; cacher la sidebar</a>

        </div>
		<div id="content" class="dark">
				<?php if($this->aVars['sAction']=='dashboard'): ?>
				<h1><img src="img/icons/dashboard.png" alt="" /> Administration</h1>      
						<?php echo $this->aVars['CONTENT']; ?>
				<?php else :?>
				<div class="bloc">
					<div class="title">
						<?php echo $this->aVars['SubTitle']; ?>
					</div>
					<div class="content">       
						<?php echo $this->aVars['CONTENT']; ?>
					</div>
				</div>
				<?php endif; ?>
		</div>
<?php if($this->aVars['sActivePage']=='dashboard'): ?>
<script type="text/javascript">
      // Load the Visualization API and the piechart package.
      google.load('visualization', '1', {'packages':['corechart']});

		 google.setOnLoadCallback(drawChart);
		  function drawChart() {
			var data = new google.visualization.DataTable();
			data.addColumn('string', 'Date');
			data.addColumn('number', 'Visites');
			data.addRows([
			<?php foreach($this->aVars[$this->sRequestPage]['aStats'] as $kStats=>$vStats) : ?><?php if($kStats < count($this->aVars[$this->sRequestPage]['aStats'])-1): ?> <?php $virg = ",\n";?> <?php else: ?><?php $virg ="\n"; ?><?php endif; ?><?php echo"['".$vStats["date"]."', ".$vStats["visits"]."]".$virg."";?><?php endforeach; ?>
			]);
	
			var options = {
			  title: 'Google Analytics - Statistiques mensuelles'
			};
	
			var chart = new google.visualization.LineChart(document.getElementById('chartsArea'));
			chart.draw(data, options);
		  }
</script>
<?php endif; ?>
<?php if($this->aVars['sActivePage']=='prog_neuf'): ?>
<script language="javascript" type="text/javascript">
/*
	*
	*MultiFile Options
	*/
	$('#images_annexes').MultiFile({
		list: 'div#images_annexes_list',
		onFileAppend: function(element, value, master_element){
			$('div#images_annexes_list').removeClass('loader');
		},
		STRING: {
			remove: '<img src="<?php echo HTML_ROOT_PATH; ?>img/icons/actions/delete.png" height="16" width="16" alt="x"/>'
		}
	});
	$( "#dialog-confirm" ).dialog({
			modal: true,
			buttons: {
				Ok: function() {
					$( this ).dialog( "close" );
				}
			}
		});
	$("a.del_link").click(function(){
		var prog_id = $(this).attr('id');
		var link_del = "<?php echo HTML_ROOT_PATH; ?>prog_neuf/delete_prog/"+prog_id;
		$("#dialog-confirm").html('<p>Le programme ID :'+prog_id+' sera. Are you sure?</p>');
		$("#dialog-confirm" ).dialog({
			resizable: false,
			height:140,
			modal: true,
			buttons: {
				"Supprimer le programme !": function() {
					document.location.href=link_del;
					$( this ).dialog( "close" );
				},
				Cancel: function() {
					
					$( this ).dialog( "close" );
				}
			}
		});
		return false;
	});
	$("#getProgRef").click(function(){
		var ref = $("#ref").val();
		var request = $.ajax({
		  url: "<?php echo HTML_ROOT_PATH; ?>prog_neuf/getprogbyref/",
		  type: "POST",
		  data: {ref:ref}
		});
		request.done(function(msg) {
		 $("#programme_annonces").val( msg );
		});
		
		request.fail(function(jqXHR, textStatus) {
		  alert( "Request failed: " + textStatus );
		});
		
		return false;
	});
</script>
<div id="dialog-confirm" title="Suppression du programme?">
	<p>Le programme ID : sera. Are you sure?</p>
</div>
<?php endif; ?>
    </body>
</html>
