<!DOCTYPE html>
<html>
    <head>
        <title>JLP-Immo.com - Administration</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

        <!-- Reset all CSS rule -->
        <link rel="stylesheet" href="<?php echo HTML_ROOT_PATH; ?>css/reset.css" />
        
        <!-- Main stylesheed  (EDIT THIS ONE) -->
        <link rel="stylesheet" href="<?php echo HTML_ROOT_PATH; ?>css/style.css" />
        
        <!-- jQuery AND jQueryUI -->
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.6/jquery.min.js"></script>
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.13/jquery-ui.min.js"></script>
        <link rel="stylesheet" href="<?php echo HTML_ROOT_PATH; ?>css/jqueryui/jqueryui.css" />
        
        <!-- jWysiwyg - https://github.com/akzhan/jwysiwyg/ -->
        <link rel="stylesheet" href="<?php echo HTML_ROOT_PATH; ?>js/jwysiwyg/jquery.wysiwyg.old-school.css" />
        <script type="text/javascript" src="<?php echo HTML_ROOT_PATH; ?>js/jwysiwyg/jquery.wysiwyg.js"></script>
        
        
        <!-- Tooltipsy - http://tooltipsy.com/ -->
        <script type="text/javascript" src="<?php echo HTML_ROOT_PATH; ?>js/tooltipsy.min.js"></script>
        
        <!-- iPhone checkboxes - http://awardwinningfjords.com/2009/06/16/iphone-style-checkboxes.html -->
        <script type="text/javascript" src="<?php echo HTML_ROOT_PATH; ?>js/iphone-style-checkboxes.js"></script>
        <script type="text/javascript" src="<?php echo HTML_ROOT_PATH; ?>js/excanvas.js"></script>
        
        <!-- Load zoombox (lightbox effect) - http://www.grafikart.fr/zoombox -->
        <script type="text/javascript" src="<?php echo HTML_ROOT_PATH; ?>js/zoombox/zoombox.js"></script>
        <link rel="stylesheet" href="<?php echo HTML_ROOT_PATH; ?>js/zoombox/zoombox.css" />
        
        <!-- Charts - http://www.filamentgroup.com/lab/update_to_jquery_visualize_accessible_charts_with_html5_from_designing_with/ -->
        <script type="text/javascript" src="<?php echo HTML_ROOT_PATH; ?>js/visualize.jQuery.js"></script>
        
        <!-- Uniform - http://uniformjs.com/ -->
        <script type="text/javascript" src="<?php echo HTML_ROOT_PATH; ?>js/jquery.uniform.min.js"></script>
        
        
        <!-- Main Javascript that do the magic part (EDIT THIS ONE) -->
        <script type="text/javascript" src="<?php echo HTML_ROOT_PATH; ?>js/main.js"></script>
        
    </head>
    <body class="dark">
                
            <div id="content" class="login">
                
                <h1><img src="<?php echo HTML_ROOT_PATH; ?>img/icons/lock-closed.png" alt="" /> Administration</h1>
                
				<?php if( isset($_SESSION['logErreur'])): ?>
				<div class="error tip">
                    <?php echo $_SESSION['logErreur']; ?>
                </div>
				<?php endif; ?>
                <form action="<?php echo HTML_ROOT_PATH; ?>acces/login/" method="post" name="login_form">

                <div class="input placeholder">
                    <label for="login">Login</label>
                    <input type="text" id="login" name="login"/>
                </div>
                <div class="input placeholder">
                    <label for="pass">Password</label>
                    <input type="password" name="password" id="pass" value=""/>
                </div>
                <div class="checkbox">
                    <input type="checkbox" id="remember"/>
                    <label class="inline" for="remember">Remember me</label>
                </div>
                <div class="submit">
                    <input type="submit" value="Login me in" class="white"/>
                </div>
                </form>
            </div>
        
        
    </body>
</html>
