<!-- InitTrad -->
<!-- if:$this->getCount() == 0 -->
<div class="radius_full bloc_error">
{@=(noresult)}<br />
</div>
<!-- else -->
<div class="Pager">
    	<ul class="TriPager">
        	<li>{@=(TitreTri)} : </li>
            <li>{= $this->PagerLink('<a href="%s">'.$oTrad->getTrad(TriParMontant).'</a>', $this->getPage(), 'montant', $this->getNewSense('montant')) }</li>
            <li>{= $this->PagerLink('<a href="%s">'.$oTrad->getTrad(TriParLocalite).'</a>', $this->getPage(), 'villePublique', $this->getNewSense('villePublique')) }</li>
            <li>{= $this->PagerLink('<a href="%s">'.$oTrad->getTrad(TriParTypeBien).'</a>', $this->getPage(), 'typeBien', $this->getNewSense('typeBien')) }</li>
        </ul>
		<table>
        <!-- for:$i to:$this->getCount() -->
        <!-- if:$i%2==0 -->
        	<tr>
				<td>
        <!-- else -->   
        		<td>
        <!-- end -->
		<!-- if: in_array($this->getValue($i, 'annonce_id'),$aAnnoncesProg) -->
			<!-- if : $sIe != 'notIE'  -->
			<ul class="BlocAnnonce" style="background:url('{=HTML_ROOT_PATH}web/images/bg_ie_rgb25500_a50.png');margin:5px;margin-bottom:15px;">
			<!-- else -->
			<ul class="BlocAnnonce" style="background:rgba(255,0,0,0.5);margin:5px;margin-bottom:15px;">
			<!-- end -->
		<!-- else -->
			<!-- if : $sIe != 'notIE'  -->
			<ul class="BlocAnnonce" style="background:url('{=HTML_ROOT_PATH}web/images/bg_ie_rgb0_a50.png');margin:5px;margin-bottom:15px;">
			<!-- else -->
			<ul class="BlocAnnonce" style="background:rgba(0,0,0,0.5);margin:5px;margin-bottom:15px;">
			<!-- end -->
		<!-- end -->
		    	
            <li class="AnnThumb"><a href="{=HTML_ROOT_PATH}annonce/{=$this->getValue($i, 'annonce_id')}" title="Lien vers l'annonce n°: {=$this->getValue($i, 'reference')}"><img src="{=HTML_ROOT_PATH}web/images/annonces/{=$this->getValue($i, 'photoThumb')}" alt="{=ucfirst($this->getValue($i, 'typeBien'))} {=ucfirst($this->getValue($i, 'villeAAfficher'))}"/></a></li>
            <li class="AnnContent">
            <p class="Line">
                	<a href="{=HTML_ROOT_PATH}annonce/{=$this->getValue($i, 'annonce_id')}" title="Lien vers l'annonce n°: {=$this->getValue($i, 'reference')}">{=ucfirst($this->getValue($i, 'villePublique'))}</a>
            </p>
			<p class="Line"><a href="{=HTML_ROOT_PATH}annonce/{=$this->getValue($i, 'annonce_id')}" title="Lien vers l'annonce n°: {=$this->getValue($i, 'reference')}">{=ucfirst($this->getValue($i, 'typeBien'))}</a></p><br />
            <p class="Bloc" >
            	{=htmlentities(substr(utf8_decode(html_entity_decode($this->getValue($i, 'texte'))),0,92))} ...
             </p><br />
            <p class="Line">
            	<span>
                	Ref : <a href="{=HTML_ROOT_PATH}annonce/{=$this->getValue($i, 'annonce_id')}" title="Lien vers l'annonce n°: {=$this->getValue($i, 'reference')}">{=$this->getValue($i, 'reference')}</a>
            	</span>
				 <!-- if:$this->getValue($i, 'montant')!=0 -->
				<!-- if:round($this->getValue($i, 'montant'))== $this->getValue($i, 'montant')-->
                {=number_format($this->getValue($i, 'montant'),0,","," ")} &euro;
                <!-- else-->
                {=number_format($this->getValue($i, 'montant'),2,","," ")} &euro;
                <!-- end -->
				<!-- else -->
				NC &euro;
				<!-- end -->
            </p>
            </li>
        </ul></a>
		<!-- if:$i%2==0 -->
        		</td>
        <!-- else -->   
        		</td>
			</tr>
        <!-- end -->
        <!-- end -->
		</table>
</div>
<!-- end -->