<?php if(isset($this->aVars[$this->sRequestPage]['sMessage']) && isset($this->aVars[$this->sRequestPage]['sStatus'])): ?>
<div class="notif <?php echo $this->aVars[$this->sRequestPage]['sStatus']; ?>">
    <strong><?php echo ucfirst($this->aVars[$this->sRequestPage]['sStatus']); ?> :</strong> <?php echo $this->aVars[$this->sRequestPage]['sMessage']; ?> 
</div>
<?php endif; ?>
<form action="<?php echo HTML_ROOT_PATH; ?>prog_neuf/edit_prog_exec" name="edit_prog" enctype="multipart/form-data" method="post">
	<input type="hidden" value="<?php echo $this->aVars[$this->sRequestPage]['iProgId']; ?>" name="programme_id">
	<div class="input long">
		<label for="programme_titre">Titre :</label> <input name="programme_titre" id="programme_titre" value="<?php echo $this->aVars[$this->sRequestPage]['oProgramme']->getProgramme_titre(); ?>">
	</div>
	<div class="input long">
		<label for="programme_identifiant">Identifiant :</label> <input name="programme_identifiant" id="programme_identifiant" value="<?php echo $this->aVars[$this->sRequestPage]['oProgramme']->getProgramme_identifiant(); ?>">
	</div>
	<div class="input textarea">
		<label for="programme_description_fr">Description FR</label>
		<textarea name="programme_description_fr" id="programme_description_fr" rows="7" class="wysiwyg" cols="4">
		<?php echo $this->aVars[$this->sRequestPage]['oProgramme']->getProgramme_description_fr(); ?>
		</textarea>
	</div>
	<div class="input textarea">
		<label for="programme_description_en">Description EN</label>
		<textarea name="programme_description_en" id="programme_description_en" rows="7" class="wysiwyg" cols="4">
		<?php echo $this->aVars[$this->sRequestPage]['oProgramme']->getProgramme_description_en(); ?>
		</textarea>
	</div>
	<div class="input">
		<label for="programme_partenaire">Partenariat avec les Thermes ?</label>
		<input type="radio" name="programme_partenaire" id="partenariat_0" value="0"  <?php if($this->aVars[$this->sRequestPage]['oProgramme']->getProgramme_partenaire()==0): ?> checked="checked" <?php endif; ?>/><label for="partenariat_0" class="inline">Non</label> <br/>
		<input type="radio" name="programme_partenaire" id="partenariat_1" value="1" <?php if($this->aVars[$this->sRequestPage]['oProgramme']->getProgramme_partenaire()==1): ?> checked="checked" <?php endif; ?>/><label for="partenariat_1" class="inline">Oui</label>
	</div>
	<div class="input long">
		<label for="programme_annonces">Annonces du programme (séparés par ; ):</label> <input name="programme_annonces" id="programme_annonces" value="<?php echo $this->aVars[$this->sRequestPage]['sAnnonces']; ?>">
	</div>
	<div class="input">
		<label for="img_principale">Image principale</label>
		<input type="file" id="img_principale" name="img_principale" />
	</div>
	<div class="input">
		<label for="img_bg">Arrière plan</label>
		<input type="file" id="img_bg" name="img_bg" />
	</div>
	<div class="input">
		<label for="images_annexes">Autres images du programme</label>
		<input type="file" id="images_annexes" name="images_annexes[]" class="multi" accept="jpg|jpeg"/>
	</div>
	<div class="bloc">
		<div class="title">Liste des fichiers en attente de mise en ligne</div>
		<div class="content loader" id="images_annexes_list">
		&nbsp;
		</div>
	</div>
	<div class="submit">
		<input type="submit" value="Enregistrer"/>
	</div>
</form>
<div class="bloc">
	<div class="title">Gestion des images existantes</div>
	<div class="content">
		<?php if(!empty($this->aVars[$this->sRequestPage]['aImages'])):?>
		<table>
			<thead>
				<tr>
					<th>Miniature</th>
					<th>Remplacement</th>
					<th>Suppression</th>
				</tr>
			</thead>
			<tbody>
				<?php foreach($this->aVars[$this->sRequestPage]['aImages'] as $kImg=>$vImg): ?>
				
				<tr>
					<td class="picture">
						<img src="<?php echo HTML_ROOT_PATH; ?>front/web/images/programmeneufs/<?php echo $this->aVars[$this->sRequestPage]['iProgId']; ?>/<?php echo $vImg; ?>.jpg" alt=""  style="width:140px;" >
					</td>
					<td>
					<form action="<?php echo HTML_ROOT_PATH; ?>prog_neuf/edit_img" name="edit_img" enctype="multipart/form-data" method="POST">
						<input type="hidden" name="img_name" value="<?php echo $vImg; ?>">
						<input type="hidden" value="<?php echo $this->aVars[$this->sRequestPage]['iProgId']; ?>" name="programme_id">
						<span class="input"><label for="img_upload">Replacer l'image par :</label>
						<input type="file" id="img_upload" name="img_upload"/></span>
						<span class="submit"><input type="submit"></span>
					</form>
					</td>
					<td class="actions">
						<a href="<?php echo HTML_ROOT_PATH; ?>prog_neuf/delete_img/<?php echo $this->aVars[$this->sRequestPage]['iProgId']; ?>/<?php echo $vImg; ?>"><img src="<?php echo HTML_ROOT_PATH; ?>img/icons/actions/delete.png" /></a>
					</td>
				</tr>
				
				<?php endforeach; ?>
			</tbody>
		</table>
		<?php else: ?>
		<div class="notif info">
			<strong>Information :</strong> Aucunes images supplémentaire ne sont répértoriés pour ce programme neuf. 
		</div>
		<?php endif; ?>
	</div>
</div>