<!-- InitTrad -->
<div class='ModuleDemandeInfoForm'>
    <p style="color:#DD0000;font-size:18px;padding:0;margin:0;" align="center">{@=(formdemandeinfo)}</p>
    <form method="get" action=""  class="classForm">
        <input type="hidden" name="demandeInfo_reference" value="{=$ref}" id="demandeInfoCDC_reference" />
        <p class="field">
            <span class="label"><b>{@=(nom)} *</b></span>
            <input type="text" name="demandeInfo_client_nom" value="" id="demandeInfo_client_nom"/>
        </p>
        <br />
        <p class="field">
            <span class="label"><b>{@=(mail)} *</b></span>
            <input type="text" name="demandeInfo_client_mail" value="" id="demandeInfo_client_mail"/>
        </p>
        <br />
        <p align="center">
            <input type="submit" onclick="javascript:demandeInfo();return false;" value="{@=(SubmitModule)}" style="width:40%;"/>
            <input type="button" onclick="this.form.reset();javascript:$.closePopupLayer('formDemandeInfo');return false;" value="Retour" style="width:20%;"/>
        </p>
    </form>
</div>