<!-- InitTrad -->
<div class='ModuleSendToAFriendForm'>
    <p class="title">Envoyer à un ami</p>
     <form method="post" action="{=HTML_ROOT_PATH}includes/utils/modules.php"  class="classForm" id="sendToAFriend" />
        <input type="hidden" name="action" value="SendToAFriend" />
        <input type="hidden" name="sendToAFriend_annonce_id" value="{=$sAnnonceId}"/>
        <p class="field">
            <span class="label">{@=(label_nom)} *</span>
            <input type="text" name="sendToAFriend_client_nom"/>
        </p>
        <br />
        <p class="field">
            <span class="label">{@=(label_email)} *</span>
            <input type="text" name="sendToAFriend_client_mail"/>
        </p>
        <br />
        <p class="field">
            <span class="label">{@=(mailamis)} *</span>
            <input type="text" name="sendToAFriend_client_friendmail"/>
        </p>
        <p>
            <span>Message :</span>  <br /><br />
            <textarea name="sendToAFriend_client_message" style="width:390px;height:150px;" rows="15" cols="10"></textarea>
        </p>
        <br />
        <p align="center">
            <!--<input type="submit" value="{@=(SubmitModule)}"/>-->
			<a class="button_style" onClick="javascript:$('.classForm').submit();">{@=(SubmitModule)}</a>
        </p>
    </form>
</div>