<style type="text/css">
ul{margin:0;padding:0;}
li{float:left;list-style:none;}
</style>
<!-- AddThis Button BEGIN -->
<div class="addthis_toolbox addthis_32x32_style">
    <ul>
        <li><a class="addthis_button_facebook"></a></li>
        <li><a class="addthis_button_twitter"></a></li>
        <li><a class="addthis_button_google"></a></li>
        <li><a class="addthis_button_email"></a></li>
        <li><a class="addthis_button_favorites"></a></li>
        <li><a class="addthis_button_linkedin"></a></li>
    </ul>
</div>
<script type="text/javascript" language="javascript" src="http://s7.addthis.com/js/300/addthis_widget.js#pubid=xa-4eeb2b183e5a88a9"></script>
<!-- AddThis Button END -->