<div class="bloc left" style="margin-top:20px;">
    <div class="title">
        Statistiques
    </div>
    <div class="content">
		<table class="noalt">
			<thead>
				<tr>
					<th colspan="2"><em>Contenu du site</em></th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td><h4><?php echo $this->aVars[$this->sRequestPage]['iNbAnnonce']; ?></h4></td>
					<td>Annonces</td>
				</tr>
				<tr>
					<td><h4><?php echo $this->aVars[$this->sRequestPage]['iNbCdc']; ?></h4></td>
					<td>Coups de coeurs</td>
				</tr>
				<tr>
					<td><h4><?php echo $this->aVars[$this->sRequestPage]['iNbProg']; ?></h4></td>
					<td>Programmes neufs</td>
				</tr>
			</tbody>
			<thead>
				<tr>
					<th colspan="2"><em>Dernière passerelle</em></th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td><h4><?php echo $this->aVars[$this->sRequestPage]['oPasserelle']->getpasserelle_nbannoncetraite(); ?></h4></td>
					<td class="good">Annonces traitées</td>
				</tr>
				<tr>
					<td><h4><?php echo $this->aVars[$this->sRequestPage]['oPasserelle']->getpasserelle_nbphotomaj(); ?></h4></td>
					<td class="neutral">Photo principale mise à jours</td>
				</tr>
				<tr>
					<td><h4><?php echo $this->aVars[$this->sRequestPage]['oPasserelle']->getpasserelle_nbannonceajouter(); ?></h4></td>
					<td class="neutral">Annonce ajoutées</td>
				</tr>
				<tr>
					<td><h4><?php echo $this->aVars[$this->sRequestPage]['oPasserelle']->getpasserelle_nbannoncesuppr(); ?></h4></td>
					<td class="bad">Annonces supprimées</td>
				</tr>
			</tbody>
		</table>
    </div>
</div>               
<div class="bloc right">
    <div class="title">Configuration du site</div>
    <div class="content">
		<h5>Description du site</h5>
		<p><?php echo $this->aVars[$this->sRequestPage]['aSite']['site_desc']; ?></p>
		<h5>Mots-clés</h5>
		<p><?php echo $this->aVars[$this->sRequestPage]['aSite']['site_cle']; ?></p>
	</div>
</div>

<div class="cb"></div>

<div class="bloc">
    <div class="title">Statistiques</div>
    <div class="content" id="chartsArea" style="height:400px;">   
      
    </div>
</div>