				<td valign="top" align="right">
					<label for="{=$ID}">{=$LABEL}</label>
				</td>
				<td valign="top" align="left">
					<input type="file" {=$PARAMS}/><span>&nbsp;&nbsp;Taille normal</span><br />
                    <label><input type="checkbox" name="checkbox_{=$this->getParam('name')}" value="ecraser"/>Cochez la case pour uploader ou pour supprimer les fichiers existants</label>
                    <br /><br />
                    <input type="file" name="thumb_{=$this->getParam('name')}" value="{=$this->getParam('thumbvalue')}"/><span>&nbsp;&nbsp;Miniature</span>
				</td>
