<div class="bloc left" style="margin-top:20px;">
	<div class="title"></div>
	<div class="content">
<table>
	<thead>
		<th>Date</th>
		<th>Nb d'annonces traités</th>
		<th>Nb d'annonces ajoutés</th>
		<th>Nb d'annonces supprimés</th>
		<th>Nb de photos mise à jours </th>
		<th>Log</th>
		<th>Statut</th>
	</thead>
	<tbody>
		<?php foreach($this->aVars[$this->sRequestPage]['oPasserelle'] as $kPass=>$vPass): ?>
		<tr>
			<td style="width:100px;"><?php echo $vPass->getPasserelle_date(); ?>h</td>
			<td><?php echo $vPass->getPasserelle_nbannoncetraite(); ?></td>
			<td><?php echo $vPass->getPasserelle_nbannonceajouter(); ?></td>
			<td><?php echo $vPass->getPasserelle_nbannoncesuppr(); ?></td>
			<td><?php echo $vPass->getPasserelle_nbphotomaj(); ?></td>
			<td><a href="" class="showlog" id="<?php echo $vPass->getPasserelle_id(); ?>">Afficher le log</a></td>
			<td><img src="<?php echo HTML_ROOT_PATH; ?>img/statut_<?php echo $vPass->getPasserelle_statut(); ?>.png" /></td>
		</tr>
		<?php endforeach; ?>
	</tbody>
</table>
</div>
</div>
<div class="bloc right showbloclog">
	<div class="title"></div>
	<div class="content loader">
	&nbsp;
	</div>
</div>
<script type="text/javascript" language="javascript">
	$(document).ready(function(){
		$('.showlog').each(function(){
			$(this).click(function(){
				var id_log = $(this).attr('id');
				$('.showbloclog').load('<?php echo HTML_ROOT_PATH; ?>infospasserelle/bloclog/',{id: id_log});
				return false;
			});
		});
	});
</script>