<form method="{=$FORM[ $ACTUAL_ID]['METHOD']}" action="{=$FORM[$ACTUAL_ID]['ACTION']}" class="{=$this->getParam('class')}">
	<!-- if:strlen($FORM[ $ACTUAL_ID]['sHiddens'])>0 -->
	<div style="display:none;">{=$FORM[ $ACTUAL_ID]['sHiddens']}</div>
	<!-- end -->
    <table cellpadding="0" cellspacing="0" border="0" align="center">
        <tr>
            <!-- foreach:$this value:$oElem -->
            
				<td align="center">
					<!-- call:$oElem->display() -->			
				</td>
			
            <!-- end -->
        </tr>
        <tr>
            <td colspan="{=count($this)}">
                <input type="submit" onclick="{=$this->getParam('submitOnClick')}" value="{=$this->getParam('submitValue')}"/>
            </td>
        </tr>
    </table>
</form>