<!DOCTYPE HTML>
<html>
<head>
{=$TITLE}
{=$META}
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="description" content="{=$Site_desc}" />
<meta http-equiv="keywords" content="{=$Site_cle}" />
<meta http-equiv="author" content="CPK-WEB - www.cpk-web.com" />
<meta name="robots" content="index,follow,all">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
{=$BASE}
<meta http-equiv="author" content="CPK-WEB - www.cpk-web.com" />
<meta name="robots" content="index,follow,all">
<link rel="stylesheet" media="all" href="{=HTML_ROOT_PATH}web/css/intro_layout.css" />
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.min.js"></script>
{=$CSS}
{=$JAVASCRIPT}
<script type="text/javascript">
var w_w	= $(window).width(); 
var w_h	= $(window).height(); 
$(function() {
	Cufon.replace('.menu a',{textShadow:'2px 2px 4px #000'}).CSS.ready(function() {
		var $menu 		= $("#slidingMenu");
		
		var $selected	= $menu.find('li.active');
		
		<!-- if : $sIe != 'notIE'  -->
			<!-- if: $sIeV <9 -->
			var $moving		= $('<li />',{
				className		: 'move',
				top			: $selected[0].offsetTop + 'px',
				width		: $selected[0].offsetWidth + 'px'
			});
			<!-- else -->
			var $moving		= $('<li />',{
				class		: 'move',
				top			: $selected[0].offsetTop + 'px',
				width		: $selected[0].offsetWidth + 'px'
			});
			<!-- end -->
		<!-- else -->
			var $moving		= $('<li />',{
				class	: 'move',
				top			: $selected[0].offsetTop + 'px',
				width		: $selected[0].offsetWidth + 'px'
			});	
		<!-- end -->
		moveTo($selected,400);
			
		$menu.bind('mouseleave',function(){
				moveTo($selected,400);
			  })
			 .append($moving)
			 .find('li')
			 .not('.move')
			 .bind('mouseenter',function(){
				var $this = $(this);
				var offsetLeft = $this.offset().right - 10;
				//move the absolute div to this item
				moveTo($this,400);
			  })
			  .bind('mouseleave',function(){
				var $this = $(this);
				var offsetLeft = $this.offset().right - 10;
			  });
		
		function moveTo($elem,speed){
			$moving.stop(true).animate({
				top		: $elem[0].offsetTop + 'px',
				width	: $elem[0].offsetWidth + 'px'
			}, speed, 'easeOutExpo');
		}
	}) ;
	Cufon.replace('p#title');
	Cufon.replace('p#search_title');
	Cufon.replace('h2#sous-titre-page',{textShadow:'2px 2px 4px #000'});
	Cufon.replace('h2.contact_title',{textShadow:'2px 2px 4px #000'});
});

		 
</script>

</head>
<!-- InitTrad -->
<body>
<div id="bg">
	<table cellspacing="0" cellpadding="0">
		<tr>
			<td>
				<img class="ac_bgimage" id="ac_bgimage0" src="<?php echo HTML_ROOT_PATH;?>web/images/bg/photo_bg.jpg"/>
			</td>
		</tr>
	</table>
</div>
<div id="bg_overlay"></div>
<div id="wraper">
    <div class="site" id="content">
	 <div class="header"> 
			<div class="logo">
				<h1><a href="<?php echo HTML_ROOT_PATH;?>">JLP-Immo.com</a></h1>
			</div>
        </div>
		<div class="content">
			<h2 id="sous-titre-page">Accueil</h2>
		{=$CONTENT} 
		</div>
    </div>
</div>
<script type="text/javascript">
/* {=$ProgPhoto} */
$(document).ready(function(){
    <!-- if: Links::getActualAction() == 'contact' -->
	 $("#lbgallery").click(function() {
      $.lightbox(
	  [
	  <!-- foreach: $aImages key:$kImg value:$vImg -->
"<?php echo HTML_ROOT_PATH;?>web/images/contact/{=$vImg}" 
<!-- if: $kImg < count($aImages)-1 -->
,
<!-- end -->
<!-- end --> 
]);
      return false;
    }); 

<!-- end -->
<!-- if: Links::getActualAction() == 'programmeneuf' && Links::getActualMethod() == 'detailPrgNeuf'  && !empty($aArrayLightBox) -->
	$("#prgGalery").click(function() {
<!-- if: count($aArrayLightBox)>1 --> 
	 $.lightbox(
	  [
	  <!-- foreach: $aArrayLightBox key:$kLightBox value:$vLightBox -->
"<?php echo HTML_ROOT_PATH;?>{=$vLightBox}" 
<!-- if: $kLightBox < count($aArrayLightBox)-1 -->
,
<!-- end -->
<!-- end --> 
]);
<!-- else -->
 $.lightbox( "<?php echo HTML_ROOT_PATH;?>{=$aArrayLightBox[0]}");
<!-- end -->

      
    });
<!-- end -->
	
	$('a.lightbox').lightbox();

<!-- if: isset($ProgPhoto) -->
	$("img.ac_bgimage").attr('src',"<?php echo HTML_ROOT_PATH;?>web/images/{=$ProgPhoto}");
<!-- else -->
	$("img.ac_bgimage").attr('src',"<?php echo HTML_ROOT_PATH;?>web/images/bg/photo_bg.jpg");
<!-- end -->

	startBg();
	$('#slides').slides({
				preload: true,
				preloadImage: '<?php echo HTML_ROOT_PATH;?>web/images/slides/loading.gif',
				play: 7000,//1000
				pause: 2500,//
				slideSpeed : 300,
				slideEasing : 'linear',
				hoverPause: true
			});
	$('#digiclock').jdigiclock(
	{
		globalImagesPath : '<?php echo HTML_ROOT_PATH;?>web/',
		clockImagesPath: '<?php echo HTML_ROOT_PATH;?>web/images/clock/',
		weatherImagesPath: '<?php echo HTML_ROOT_PATH;?>web/images/weather/',
		lang: 'en',
		am_pm: false,
		weatherLocationCode: 'EUR|FR|FR022|Saint-Gervais-les-Bains',
		weatherMetric: 'C',	
		proxyType: 'php'
	});
});
/*Var BG*/
	var Img = new Array();
		Img[0]= '<?php echo HTML_ROOT_PATH;?>web/images/bg/photo_bg_1.jpg';
		Img[1] = '<?php echo HTML_ROOT_PATH;?>web/images/bg/photo_bg_2.jpg';
		Img[2] = '<?php echo HTML_ROOT_PATH;?>web/images/bg/photo_bg_3.jpg';
		Img[3] = '<?php echo HTML_ROOT_PATH;?>web/images/bg/photo_bg_4.jpg';
		Img[4] = '<?php echo HTML_ROOT_PATH;?>web/images/bg/photo_bg_5.jpg';
		Img[5] = '<?php echo HTML_ROOT_PATH;?>web/images/bg/photo_bg_6.jpg';
		Img[6] = '<?php echo HTML_ROOT_PATH;?>web/images/bg/photo_bg_7.jpg';
		var nCount = 1;
		var nTime = 10000;
		var iImgNb;
	
	function startBg(){
		adjustBgSize();
		reloadOverlay();	
	}
	
/*Var redim BG*/
	var w_w	= $(window).width();
	var w_h	= $(window).height();
	var $ac_background	= $('#bg');
	var $ac_bgimage		= $("img.ac_bgimage");
	var pos_l = 0;
	var pos_t = 0;
	var w_img = 0;
	var h_img = 0;
	var r_win = 0;
	var r_img = 0;
		
function adjustBgSize() {
	w_w	= $(window).width();
	w_h	= $(window).height();
	
	min_w_img = $ac_bgimage.width();
	min_h_img = $ac_bgimage.height();
	
	r_win = w_h / w_w;
	r_img = min_h_img / min_w_img;
	
	if(r_win>r_img) {
		h_img = w_h;
		w_img = w_h / r_img;
	}else{
		h_img = w_w * r_img;
		w_img = w_w;
	}
	
	pos_l = (w_w - w_img) / 2;
	pos_t = (w_h - h_img) / 2;

	$ac_bgimage.css('width',w_img + 'px');
	$ac_bgimage.css('height',h_img + 'px');
	$ac_bgimage.css('left',pos_l + 'px');
	$ac_bgimage.css('top',pos_t + 'px');
	$ac_bgimage.css('z-index','4');
}

function reloadOverlay(){
	$("#ac_overlay").css('width',w_img + 'px');
	$("#ac_overlay").css('height',h_img + 'px');
	$("#ac_overlay").css('z-index','5');

}
<!-- if: $sStyleAlt != 'mobile/layout_iPad.css' && $sStyleAlt != 'mobile/layout_iPhone.css'  -->
$(window).bind('resize',function(){
	adjustBgSize();
	reloadOverlay();
});
<!-- end -->
</script>
<script type="text/javascript">
<!--
function getWindowHeight() {
	var windowHeight = 0;
	if (typeof(window.innerHeight) == 'number') {
		windowHeight = window.innerHeight;
	}
	else {
		if (document.documentElement && document.documentElement.clientHeight) {
			windowHeight = document.documentElement.clientHeight;
		}
		else {
			if (document.body && document.body.clientHeight) {
				windowHeight = document.body.clientHeight;
			}
		}
	}
	return windowHeight;
}
//-->
</script>
</body>
</html>